<div>
  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>
  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>
  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>

  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>
  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>
  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>

  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>
  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>
  <app-field [nextPlayer]="nextPlayer" (nextPlayerChange)="nextPlayerChangeEvent($event)"></app-field>
</div>

<p>Next player is: {{nextPlayer()}}</p>
